<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<div th:replace="fragments/navbar"></div>
<main class="container">
    <article style="max-width: 700px; margin: 0 auto;">
        <hgroup>
            <h1>Изменение подразделения</h1>
        </hgroup>
        <form th:action="@{'/departments/update/' + ${id}}"
              th:method="post"
              th:object="${departmentModel}">

            <div>
                <label for="shortName">
                    Аббревиатура
                    <input th:field="*{shortName}"
                           th:errorclass="is-invalid"
                           type="text"
                           id="shortName"
                           placeholder="Введите аббревиатуру"
                           required/>
                    <small th:if="${#fields.hasErrors('shortName')}" th:errors="*{shortName}"
                           class="text-danger"></small>
                </label>

                <label for="fullName">
                    Полное название
                    <input th:field="*{fullName}"
                           th:errorclass="is-invalid"
                           type="text"
                           id="fullName"
                           placeholder="Введите fullName"
                           required/>
                    <small th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"
                           class="text-danger"></small>
                </label>

                <fieldset>
                    <legend>Выберите тип</legend>
                    <label>
                        <input th:field="*{type}"
                               th:value="DEPARTMENT"
                               type="radio"
                               name="type"/>
                        Кафедра
                    </label>
                    <label>
                        <input th:field="*{type}"
                               th:value="ADMINISTRATION"
                               type="radio"
                               name="type"/>
                        Администрация
                    </label>
                    <label>
                        <input th:field="*{type}"
                               th:value="OFFICE"
                               type="radio"
                               name="type"/>
                        Отдел
                    </label>
                    <small th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="text-danger"></small>
                </fieldset>

                <button type="submit">Изменить информацию о подразделении</button>
        </form>
    </article>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>