
<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<div th:replace="fragments/navbar"></div>
<main class="container">
    <article style="max-width: 700px; margin: 0 auto;">
        <hgroup>
            <h1>Изменение сотрудника</h1>
        </hgroup>
        <form th:action="@{'/employees/update/' + ${id}}"
              th:method="post"
              th:object="${employeeModel}">

            <div class="grid">

              <label for="lastName">
                    Фамилия
                    <input th:field="*{lastName}"
                           th:errorclass="is-invalid"
                           type="text"
                           id="lastName"
                           placeholder="Введите фамилию"
                           required/>
                    <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></small>
                </label>
                
                <label for="firstName">
                    Имя
                    <input th:field="*{firstName}"
                           th:errorclass="is-invalid"
                           type="text"
                           id="firstName"
                           placeholder="Введите имя"
                           required/>
                    <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                           class="text-danger"></small>
                </label>

                <label for="middleName">
                    Отчество
                    <input th:field="*{middleName}"
                           th:errorclass="is-invalid"
                           type="text"
                           id="middleName"
                           placeholder="Введите Отчество"
                           />
                    <small th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"
                           class="text-danger"></small>
                </label>
            </div>

            <div sec:authorize="hasRole('ADMIN')">
            <label for="department">
                Подразделение
                <select id="department" th:field="*{departmentId}" required>
                    <option value="">Выберите подразделение...</option>
                    <option th:each="d : ${departments}"
                            th:value="${d.id}"
                            th:text="${d.shortName}"></option>
                </select>
                <small th:if="${#fields.hasErrors('departmentId')}" th:errors="*{departmentId}"
                       class="text-danger"></small>
            </label>
            </div>
            
            <div>
                <label for="officeNumber">
                    Кабинет
                    <input th:field="*{officeNumber}"
                           th:errorclass="is-invalid"
                           type="text"
                           id="officeNumber"
                           placeholder="Введите кабинет"
                           required/>
                    <small th:if="${#fields.hasErrors('officeNumber')}" th:errors="*{officeNumber}"
                           class="text-danger"></small>
                </label>

                <label for="workPhone">
                    Рабочий телефон
                    <input th:field="*{workPhone}"
                           th:errorclass="is-invalid"
                           id="workPhone"
                           required/>
                    <small th:if="${#fields.hasErrors('workPhone')}" th:errors="*{workPhone}"
                           class="text-danger"></small>
                </label>

                <label for="personalPhone">
                    Личный телефон
                    <input th:field="*{personalPhone}"
                           th:errorclass="is-invalid"
                           id="personalPhone"
                           placeholder="Введите номер телефона"
                           required/>
                    <small th:if="${#fields.hasErrors('personalPhone')}" th:errors="*{personalPhone}"
                           class="text-danger"></small>
                </label>

                <label for="email">
                    Email
                    <input th:field="*{email}"
                           th:errorclass="is-invalid"
                           id="email"
                           placeholder="Введите Email"
                           required/>
                    <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></small>
                </label>

                <label for="statusNote">
                    Дополнительная информация
                    <input th:field="*{statusNote}"
                           th:errorclass="is-invalid"
                           id="statusNote"
                           placeholder="Введите дополнительную информацию при необходимости"/>
                    <small th:if="${#fields.hasErrors('statusNote')}" th:errors="*{statusNote}"
                           class="text-danger"></small>
                </label>

                <label for="additionalInfo">
                    Telegram id
                    <input th:field="*{additionalInfo}"
                           th:errorclass="is-invalid"
                           id="additionalInfo"
                           placeholder="Введите id(без @)"/>
                    <small th:if="${#fields.hasErrors('additionalInfo')}" th:errors="*{additionalInfo}"
                           class="text-danger"></small>
                </label>
            </div>

            <button type="submit">Изменить сотрудника</button>
        </form>
    </article>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
