<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<div th:replace="fragments/navbar"></div>
<main class="container">
    <article style="max-width: 700px; margin: 0 auto;">
        <hgroup>
            <h1>Добавление сотрудника</h1>
            <p>Заполните информацию о сотруднике</p>
        </hgroup>
        <form th:action="@{/employees/add}"
              th:method="post"
              th:object="${employeeModel}">

            <div class="grid">
                <label for="firstName">
                    Имя*
                    <input th:field="*{firstName}"
                           th:errorclass="is-invalid"
                           type="text"
                           id="firstName"
                           placeholder="Введите имя"
                           required/>
                    <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                           class="text-danger"></small>
                </label>

                <label for="lastName">
                    Фамилия*
                    <input th:field="*{lastName}"
                           th:errorclass="is-invalid"
                           type="text"
                           id="lastName"
                           placeholder="Введите фамилию"
                           required/>
                    <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></small>
                </label>

                <label for="middleName">
                    Отчество
                    <input th:field="*{middleName}"
                           th:errorclass="is-invalid"
                           type="text"
                           id="middleName"
                           placeholder="Введите Отчество"/>
                </label>
            </div>

            <div sec:authorize="hasRole('ADMIN')">
                <label for="department">
                Подразделение*
                <select id="department" th:field="*{departmentId}" required>
                    <option value="">Выберите подразделение...</option>
                    <option th:each="d : ${departments}"
                            th:value="${d.id}"
                            th:text="${d.shortName}"></option>
                </select>
            </label>
            </div>

            <div sec:authorize="hasRole('MODERATOR')">
                <label for="department">
                Подразделение*
                <select id="department" th:field="*{departmentId}" disabled>
            <option th:each="d : ${departments}"
                    th:if="${d.id == userDepartmentId}"
                    th:value="${d.id}"
                    th:text="${d.shortName}"
                    selected>
            </option>
            </select>
            <input type="hidden" th:field="*{departmentId}">
            </label>
            </div>

            <label for="officeNumber">Кабинет*
                <input th:field="*{officeNumber}" id="officeNumber"
                placeholder="Введите кабинет" />
            </label>

            <label for="workPhone">Рабочий телефон*
                <input th:field="*{workPhone}" id="workPhone"
                placeholder="Введите рабочий номер(4 цифры)" />
            </label>

            <label for="personalPhone">Личный телефон*
                <input th:field="*{personalPhone}" id="personalPhone"
                placeholder="Введите личный номер телефона" />
            </label>

            <label for="email">Email*
                <input th:field="*{email}" id="email"
                placeholder="Введите email" />
            </label>

            <label for="additionalInfo">Telegram id(без @)
                <input th:field="*{additionalInfo}" id="additionalInfo"
                placeholder="Введите telegram id(без @)" />
            </label>

            <label for="statusNote">Дополнительная информация
                <input th:field="*{statusNote}" id="statusNote"
                placeholder="Введите дополнительную информация при необходимости" />
            </label>

            <button type="submit">Добавить сотрудника</button>

        </form>

    </article>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>