<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"/>
<body>
<div th:replace="fragments/navbar"></div>
<main class="container">
  <hgroup>
    <h1>Профиль пользователя</h1>
    <p>Информация о вашей учетной записи</p>
  </hgroup>
  <article class="card">
    <div class="grid">
      <div th:object="${user}">
        <h2 th:text="*{userName}"></h2>
        <p><strong>Логин:</strong> <span th:text="*{userName}"></span></p>
        <div>
          <strong>Роли:</strong>
          <div sec:authentication="principal.authorities" style="margin-top: 0.5rem;"></div>
        </div>
        <p><strong>Подразделение: </strong><span th:text="*{departmentName}"></span></p>
      </div>
    </div>
  </article>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>