<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<div th:replace="fragments/navbar"></div>
<main class="container">
    <article style="max-width: 600px; margin: 0 auto;">
        <hgroup>
            <h1>Создать пользователя</h1>
        </hgroup>
        <form th:action="@{/users/register}"
              th:method="post"
              th:object="${userRegistrationDto}">
            <label for="username">
                Логин
                <input th:field="*{username}"
                       th:errorclass="is-invalid"
                       type="text"
                       id="username"
                       placeholder="Выберите логин"
                       required/>
                <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></small>
            </label>

            <label for="password">
                Пароль
                <input th:field="*{password}"
                       required
                       minlength="5"
                       maxlength="20"
                       th:errorclass="is-invalid"
                       type="password"
                       id="password"
                       placeholder="Придумайте пароль"/>
                <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></small>
            </label>

            <label for="confirmPassword">
                Подтвердите пароль
                <input th:field="*{confirmPassword}"
                       required
                       minlength="5"
                       maxlength="20"
                       th:errorclass="is-invalid"
                       type="password"
                       id="confirmPassword"
                       placeholder="Повторите пароль"/>
                <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                       class="text-danger"></small>
            </label>

            <fieldset>
                <legend>Выберите роль</legend>
                <label>
                    <input th:field="*{role}"
                           th:value="USER"
                           type="radio"
                           name="role"/>
                    USER
                </label>
                <label>
                    <input th:field="*{role}"
                           th:value="MODERATOR"
                           type="radio"
                           name="role"/>
                    MODERATOR
                </label>
                <small th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="text-danger"></small>
            </fieldset>

            <label for="department">
                Подразделение
                <select id="department" th:field="*{departmentId}" required>
                    <option value="">Выберите подразделение...</option>
                    <option th:each="d : ${departments}"
                            th:value="${d.id}"
                            th:text="${d.shortName}"></option>
                </select>
            </label>

            <button type="submit">Создать</button>
        </form>
    </article>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>